<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>J4Business</title>

<link href="/saga/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"	rel="stylesheet"></link>
<link href="/saga/css/styles.css" rel="stylesheet"></link>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	
<script>
function doUsuarioNomeSortAsc() {
	document.form1.usuarioSortTipo.value = "UsuarioNome";
	document.form1.action.value="/usuarioHome";
	document.form1.submit();
}

</script>

<style>
.glyphicon:hover {
	color: black;
}

.usuario {
	color: #A9D9EC;
}

.edit {
	color: orange;
}

.remove {
	color: red;
}

.form-control {
	color: #B7B7B7;
}

.form-control:hover, .form-control:focus {
	color: #ffffff;
	border-color: #A9D9EC;
}

.modal-body
{
    background-color: #FFFFFF;
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #FCFAB3;
}

.modal-footer
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Processos</span></a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="@{./menu}"></div>
			</div>
		</form>


	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="/saga/index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Usuário</li>
					<li class="active">Consulta</li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
			<div class="form-group col-md-2">	
					<a href="/saga/usuarioHome" style="float: right" class="btn btn-primary btn-xs margin">Voltar</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/usuarioRelMenu" style="float: right" class="btn btn-primary btn-xs margin">Relatório</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/usuarioAdd" style="float: right" class="btn btn-primary btn-xs margin">Novo</a>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-default">
			<div class="panel-body">
				<form name="form1" id="form1" action="usuarioHome"
					th:object="${usuarioByUsuarioForm}" th:action="@{/usuarioHome}">

					<div class="alert alert-success" th:text="${mensagem}"
						th:if="${not #strings.isEmpty(mensagem)}"></div>

					<div class="alert alert-danger" th:text="${mensagemErro}"
						th:if="${not #strings.isEmpty(mensagemErro)}"></div>

					<input type="hidden" class="form-control" id="usuarioNome"
						name="usuarioNome"> <input type="hidden"
						name="usuarioSortTipo" th:field="*{usuarioSortTipo}"
						th:value="${usuarioSortTipo}">

					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-lg-1"><a
									href="javascript:doUsuarioNomeSortAsc();">Usuário</a></th>
								<th class="col-lg-6">
								<div class="input-group add-on">
								<input type="text" id="searchUsuarioNome"
									name="searchUsuarioNome"
									th:value="${usuarioByUsuarioForm.getSearchUsuarioNome() == null} ? '' : ${usuarioByUsuarioForm.getSearchUsuarioNome()}"
									class="form-control" placeholder="Search"
									onKeyPress="if(window.event.keyCode==13){doUsuarioNomeSortAsc();return false;}return ">
							      <div class="input-group-btn" style="width: 50%">
							        <a href="#" class="btn btn-default" role="button" onClick="document.getElementById('form1').submit();"><i class="glyphicon glyphicon-search"></i></a>
							      </div>
							    </div>

								</th>
								<th class="col-lg-4"><a
									href="javascript:doUsuarioNomeSortAsc();">Password</a></th>

								<th class="col-lg-1" data-field="Ações" data-sortable="true"><a>Ações</a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="usuario : ${usuarioPage}">
								<td colspan="2" th:text="${usuario.usuarioNome}"></td>
								<td colspan="1" th:text="${usuario.usuarioDescricao}"></td>
								<td><a class="usuario ml10"
									th:href="@{/usuarioView/{id}(id=${usuario.usuarioNome})}"
									title="Usuarios"><i class="glyphicon glyphicon-flag"></i></a> <a
									class="edit ml10"
									th:href="@{/usuarioEdit/{id}(id=${usuario.usuarioNome})}"
									title="Edit"><i class="glyphicon glyphicon-edit"></i></a> 
									<a data-toggle="modal"
                    				data-target="#remove"
                    				th:attr="data-target='#remove'+${usuario.usuarioPK }" 
									class="remove ml10"
									title="Remove"><i class="glyphicon glyphicon-remove"></i>
									</a>
									<div aria-labelledby="myModalLabel" class="modal form-group" id="remove" th:id="remove+${usuario.usuarioPK }" role="dialog" tabindex="-1">
									    <div class="modal-dialog" role="document">
									        <div class="modal-content">
									            <div class="modal-header panel-heading">
									                <h4 class="modal-title"><font color="black">Usuário</font></h4>
									            </div>
									            <div class="modal-body ">
									                <p><font color="black">Tem certeza que deseja remover este Usuário ?</font></p>
									            </div>
									            <div class="modal-footer">
									                <button class="btn btn-alert" data-dismiss="modal" type="button">Cancel</button>
									                <a th:href="@{/usuarioDelete/{id}(id=${usuario.usuarioPK})}">  > <button class="btn btn-danger" id="remove-button" type="button">Remove</button></a>
									            </div>
									        </div><!-- end modal-content -->
									    </div><!-- end modal-dialog -->
									</div><!-- end modal -->									
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan=5>
									<div th:fragment='paginationbar'>
										<ul>
											<li th:class="${page.first} ? 'disabled':''" style="display: inline">
												<span th:if="${page.first}">
													<button	type="button" class="btn btn-default">
														<span class="glyphicon glyphicon-arrow-left"></span>
													</button>
												</span> 
												<a 	th:if="${not page.first}" th:href="@{${url}(page=0,
																usuarioSortTipo=${usuarioByUsuarioForm.usuarioSortTipo},
																searchUsuarioNome=${usuarioByUsuarioForm.getSearchUsuarioNome()}
												)}">
													<button type="button" class="btn btn-default glyphicon glyphicon-fast-backward">
													</button>
												</a>
												<a 	th:if="${not page.first}" th:href="@{${url}(page=${page.number}-1,
																usuarioSortTipo=${usuarioByUsuarioForm.usuarioSortTipo},
																searchUsuarioNome=${usuarioByUsuarioForm.getSearchUsuarioNome()}
												)}">
													<button type="button" class="btn btn-default glyphicon glyphicon-triangle-left">
													</button>
												</a>
											</li>
											<li th:each='i : ${#numbers.sequence(page.number, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : '' " style="display: inline">
												
												<span th:if='${page.number}+20<${page.totalPages-1}'>
													<a th:if='${i}<${page.number}+20'	th:href="@{${url}(page=${i},
																usuarioSortTipo=${usuarioByUsuarioForm.usuarioSortTipo},
																searchUsuarioNome=${usuarioByUsuarioForm.getSearchUsuarioNome()}
																)}">
														<button type="button" class="btn btn-default">
															<span th:text='${i+1}'></span>
														</button>
													</a>
												</span>
												<span th:if='${page.number}+20>${page.totalPages-1}'>
													<a th:if='${i}<=${page.totalPages-1}'	th:href="@{${url}(page=${i},
																usuarioSortTipo=${usuarioByUsuarioForm.usuarioSortTipo},
																searchUsuarioNome=${usuarioByUsuarioForm.getSearchUsuarioNome()}
																)}">
														<button type="button" class="btn btn-default">
															<span th:text='${i+1}'></span>
														</button>
													</a>
												</span>
											</li>
											<li th:class="${page.last} ? 'disabled':'' "	style="display: inline">
												<span th:if="${page.last}">
													<button type="button" class="btn btn-default">
														<span class="glyphicon glyphicon-arrow-right"></span>
													</button>
												</span> 
												<a th:if="${not page.last}"	th:href="@{${url}(page=(${page.number}+1),
																usuarioSortTipo=${usuarioByUsuarioForm.usuarioSortTipo},
																searchUsuarioNome=${usuarioByUsuarioForm.getSearchUsuarioNome()}
												)}">
													<button type="button" class="btn btn-default glyphicon glyphicon-triangle-right">
													</button>
												</a>
												<a th:if="${not page.last}"	th:href="@{${url}(page=(${page.totalPages}-1),
																usuarioSortTipo=${usuarioByUsuarioForm.usuarioSortTipo},
																searchUsuarioNome=${usuarioByUsuarioForm.getSearchUsuarioNome()}
												)}">
													<button type="button" class="btn btn-default glyphicon glyphicon-fast-forward">
													</button>
												</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
