<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>J4Business</title>

<link href="/saga/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"	rel="stylesheet"></link>
<link href="/saga/css/styles.css" rel="stylesheet"></link>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<style>
.glyphicon:hover {
	color: black;
}

.detalhe {
	color: #A9D9EC;
}

.edit {
	color: orange;
}

.remove {
	color: red;
}

.form-control {
	color: #B7B7B7;
}

.form-control:hover, .form-control:focus {
	color: #ffffff;
	border-color: #A9D9EC;
}
</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Treinamentos</span></a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="@{./menu}"></div>
			</div>
		</form>


	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="/saga/index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Colaborador - Treinamento</li>
					<li class="active">View</li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
			<div class="form-group col-md-2">	
					<a href="/saga/colaboradorTreinamentoHome" style="float: right" class="btn btn-primary btn-xs margin">Voltar</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/colaboradorTreinamentoRelMenu" style="float: right" class="btn btn-primary btn-xs margin">Relatório</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/colaboradorTreinamentoAdd" style="float: right" class="btn btn-primary btn-xs margin">Novo</a>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset>
					<ol class="breadcrumb">
						<li class="active">Colaborador - Treinamento</li>
					</ol>
					<div class="panel-body" th:object="${colaboradorTreinamentoForm}">
						<fieldset>
							<div class="col-md-4">
								<label for="colaboradorTreinamentoPK">Id.............................:&nbsp;&nbsp;</label>
								<span id="colaboradorPK" th:text="${colaboradorTreinamentoForm.colaboradorTreinamentoPK}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="colaboradorNome">Colaborador.......:&nbsp;&nbsp;</label> <span
									id="colaboradorNome" th:text="${colaboradorTreinamentoForm.colaboradorNome}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="treinamentoNome">Treinamento.................:&nbsp;&nbsp;</label> <span
									id="treinamentoNome"
									th:text="${colaboradorTreinamentoForm.treinamentoNome}"></span>
							</div>
							</fieldset>
							<fieldset>
								<ol class="breadcrumb">
								</ol>
								<br>
							
							<div class="col-md-4">
								<label for="colaboradorTreinamentoMotivoOperacao">Motivo da Operação....:&nbsp;&nbsp;</label> <span
									id="colaboradorTreinamentoMotivoOperacao" th:text="${colaboradorTreinamentoForm.colaboradorTreinamentoMotivoOperacao }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorTreinamentoResponsavel">Responsável..........:&nbsp;&nbsp;</label> <span
									id="colaboradorTreinamentoResponsavel" th:text="${colaboradorTreinamentoForm.colaboradorTreinamentoResponsavel }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorTreinamentoStatus">Status.......................:&nbsp;&nbsp;</label> 
								<span id="colaboradorTreinamentoStatus" th:text="${colaboradorTreinamentoForm.colaboradorTreinamentoStatus }"></span>
							</div>
						</fieldset>
					</div>
				</fieldset>
				<fieldset>
					<hr />
					<ol class="breadcrumb">
						<li class="active">Colaborador</li>
					</ol>
					<div class="panel-body" th:object="${colaboradorForm}">
						<fieldset>
							<div class="col-md-4">
								<label for="colaboradorPK">Id.................................:&nbsp;&nbsp;</label>
								<span id="colaboradorPK" th:text="${colaboradorForm.colaboradorPK}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="colaboradorNome">Nome........................:&nbsp;&nbsp;</label> <span
									id="colaboradorNome" th:text="${colaboradorForm.colaboradorNome}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="colaboradorApelido">Nome Fantasia.....:&nbsp;&nbsp;</label> <span
									id="colaboradorApelido" th:text="${colaboradorForm.colaboradorApelido}"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="colaboradorMotivoOperacao">Motivo da Operação....:&nbsp;&nbsp;</label> <span
									id="colaboradorMotivoOperacao" th:text="${colaboradorForm.colaboradorMotivoOperacao }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorResponsavel">Responsável..........:&nbsp;&nbsp;</label> <span
									id="colaboradorResponsavel" th:text="${colaboradorForm.colaboradorResponsavel }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorStatus">Status.......................:&nbsp;&nbsp;</label> <span
									id="colaboradorStatus" th:text="${colaboradorForm.colaboradorStatus }"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-12">
								<label for="enderecoCEP">CEP.............................:&nbsp;&nbsp;</label> <span
									id="enderecoCEP" th:text="${colaboradorForm.enderecoCEP }"></span>
							</div>
							<div class="col-md-4">
								<label for="enderecoLogradouro">Logradouro............:&nbsp;&nbsp;</label> <span
									id="enderecoLogradouro" th:text="${colaboradorForm.enderecoLogradouro}"></span>
							</div>
							<div class="col-md-4">
								<label for="enderecoBairro">Bairro............:&nbsp;&nbsp;</label> <span
									id="enderecoBairro" th:text="${colaboradorForm.enderecoBairro}"></span>
							</div>
							<div class="col-md-4">
								<label for="enderecoMunicipio">Município............:&nbsp;&nbsp;</label> <span
									id="enderecoMunicipio" th:text="${colaboradorForm.enderecoMunicipio}"></span>
							</div>
							<div class="col-md-2">
								<label for="enderecoUF">Estado............:&nbsp;&nbsp;</label> <span
									id="enderecoUF" th:text="${colaboradorForm.enderecoUF}"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="telefoneNumero">Telefone............:&nbsp;&nbsp;</label> <span
									id="telefoneNumero" th:text="${colaboradorForm.telefoneNumero }"></span>
							</div>
							<div class="col-md-4">
								<label for="telefoneOperadora">Operadora............:&nbsp;&nbsp;</label> <span
									id="telefoneOperadora" th:text="${colaboradorForm.telefoneOperadora }"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="colaboradorEmailNome">Email............:&nbsp;&nbsp;</label> <span
									id="colaboradorEmailNome" th:text="${colaboradorForm.emailNome }"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="colaboradorRedeSocialNome">Rede Social....:&nbsp;&nbsp;</label> <span
									id="colaboradorRedeSocialNome" th:text="${colaboradorForm.redeSocialNome }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorRedeSocialIdentificacao">Identificação....:&nbsp;&nbsp;</label> <span
									id="colaboradorRedeSocialIdentificacao" th:text="${colaboradorForm.redeSocialIdentificacao }"></span>
							</div>
						</fieldset>
					</div>
				</fieldset>
				<hr />
				
				<fieldset>
					<ol class="breadcrumb">
						<li class="active">Treinamento</li>
					</ol>
					<div class="panel-body" th:object="${treinamentoForm}">
						<fieldset>
							<div class="col-md-4">
								<label for="treinamentoPK">Id.............................:&nbsp;&nbsp;</label>
								<span id="treinamentoPK" th:text="${treinamentoForm.treinamentoPK}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="treinamentoNome">Nome....................:&nbsp;&nbsp;</label> <span
									id="treinamentoNome" th:text="${treinamentoForm.treinamentoNome}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="treinamentoDescricao">Descrição............:&nbsp;&nbsp;</label> <span
									id="treinamentoDescricao" th:text="${treinamentoForm.treinamentoDescricao}"></span>
							</div>
						</fieldset>
		
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="treinamentoMotivoOperacao">Motivo da Operação.:&nbsp;&nbsp;</label> <span
									id="treinamentoMotivoOperacao" th:text="${treinamentoForm.treinamentoMotivoOperacao }"></span>
							</div>
							<div class="col-md-4">
								<label for="treinamentoResponsavel">Responsável.......:&nbsp;&nbsp;</label> <span
									id="treinamentoResponsavel" th:text="${treinamentoForm.treinamentoResponsavel }"></span>
							</div>
							<div class="col-md-4">
								<label for="treinamentoStatus">Status....................:&nbsp;&nbsp;</label> <span
									id="treinamentoStatus" th:text="${treinamentoForm.treinamentoStatus }"></span>
							</div>
						</fieldset>
						<hr />
						
					</div>
				</fieldset>
				<fieldset>
					<div class="col-md-3">
						<div class="panel panel-default chat">
							<div class="panel-heading"><span class="glyphicon glyphicon-check"></span>To-do List</div>
							<div class="panel-body">
								<ul class="todo-list">
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-1" />
											<label for="checkbox-1">Make a plan for today</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" class="checkbox" id="checkbox-2" />
											<label for="checkbox-2">Update Basecamp</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-3" />
											<label for="checkbox-3">Send email to Jane</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-4" />
											<label for="checkbox-4">Drink coffee</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-5" />
											<label for="checkbox-5">Do some work</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-6" />
											<label for="checkbox-6">Tidy up workspace</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="panel-footer">
								<div class="input-group">
									<input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
									<span class="input-group-btn">
										<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
									</span>
								</div>
							</div>
						</div>
					</div><!--/.col-->				
					<div class="col-md-3">
						<div class="panel panel-default chat">
							<div class="panel-heading"><span class="glyphicon glyphicon-check"></span>To-do List</div>
							<div class="panel-body">
								<ul class="todo-list">
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-1" />
											<label for="checkbox-1">Make a plan for today</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" class="checkbox" id="checkbox-2" />
											<label for="checkbox-2">Update Basecamp</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-3" />
											<label for="checkbox-3">Send email to Jane</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-4" />
											<label for="checkbox-4">Drink coffee</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-5" />
											<label for="checkbox-5">Do some work</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-6" />
											<label for="checkbox-6">Tidy up workspace</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="panel-footer">
								<div class="input-group">
									<input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
									<span class="input-group-btn">
										<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
									</span>
								</div>
							</div>
						</div>
					</div><!--/.col-->				
					<div class="col-md-3">
						<div class="panel panel-default chat">
							<div class="panel-heading"><span class="glyphicon glyphicon-check"></span>To-do List</div>
							<div class="panel-body">
								<ul class="todo-list">
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-1" />
											<label for="checkbox-1">Make a plan for today</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" class="checkbox" id="checkbox-2" />
											<label for="checkbox-2">Update Basecamp</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-3" />
											<label for="checkbox-3">Send email to Jane</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-4" />
											<label for="checkbox-4">Drink coffee</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-5" />
											<label for="checkbox-5">Do some work</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-6" />
											<label for="checkbox-6">Tidy up workspace</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="panel-footer">
								<div class="input-group">
									<input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
									<span class="input-group-btn">
										<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
									</span>
								</div>
							</div>
						</div>
					</div><!--/.col-->				
					<div class="col-md-3">
						<div class="panel panel-default chat">
							<div class="panel-heading"><span class="glyphicon glyphicon-check"></span>To-do List</div>
							<div class="panel-body">
								<ul class="todo-list">
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-1" />
											<label for="checkbox-1">Make a plan for today</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" class="checkbox" id="checkbox-2" />
											<label for="checkbox-2">Update Basecamp</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-3" />
											<label for="checkbox-3">Send email to Jane</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-4" />
											<label for="checkbox-4">Drink coffee</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-5" />
											<label for="checkbox-5">Do some work</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-6" />
											<label for="checkbox-6">Tidy up workspace</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="panel-footer">
								<div class="input-group">
									<input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
									<span class="input-group-btn">
										<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
									</span>
								</div>
							</div>
						</div>
					</div><!--/.col-->				
					<div class="col-md-3">
						<div class="panel panel-default chat">
							<div class="panel-heading"><span class="glyphicon glyphicon-check"></span>To-do List</div>
							<div class="panel-body">
								<ul class="todo-list">
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-1" />
											<label for="checkbox-1">Make a plan for today</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" class="checkbox" id="checkbox-2" />
											<label for="checkbox-2">Update Basecamp</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-3" />
											<label for="checkbox-3">Send email to Jane</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-4" />
											<label for="checkbox-4">Drink coffee</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-5" />
											<label for="checkbox-5">Do some work</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
									<li class="todo-list-item">
										<div class="checkbox">
											<input type="checkbox" id="checkbox-6" />
											<label for="checkbox-6">Tidy up workspace</label>
										</div>
										<div class="pull-right action-buttons">
											<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
											<a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
											<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="panel-footer">
								<div class="input-group">
									<input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
									<span class="input-group-btn">
										<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
									</span>
								</div>
							</div>
						</div>
					</div><!--/.col-->				
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>