<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>J4Business</title>

<link href="/saga/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"	rel="stylesheet"></link>
<link href="/saga/css/styles.css" rel="stylesheet"></link>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<script>
function doColaboradorNomeSortAsc() {
	document.form1.colaboradorTreinamentoSortTipo.value = "ColaboradorNome";
	document.form1.action.value="/colaboradorTreinamentoHome";
	document.form1.submit();
}

function doTreinamentoNomeSortAsc() {
	document.form1.colaboradorTreinamentoSortTipo.value = 'TreinamentoNome';
	document.form1.action.value="/colaboradorTreinamentoHome";
	document.form1.submit();
}

</script>

<style>
.glyphicon:hover {
	color: black;
}

.detalhe {
	color: #A9D9EC;
}

.edit {
	color: orange;
}

.remove {
	color: red;
}

.form-control {
	color: #B7B7B7;
}

.form-control:hover, .form-control:focus {
	color: #ffffff;
	border-color: #A9D9EC;
}

.ui-autocomplete-loading {
	background: white url("images/ui-anim_basic_16x16.gif") right center
		no-repeat;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.modal-body
{
    background-color: #FFFFFF;
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #FCFAB3;
}

.modal-footer
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Treinamentos</span></a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="@{./menu}"></div>
			</div>
		</form>


	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="/saga/index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Colaborador - Treinamento</li>
					<li class="active">Consulta</li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
			<div class="form-group col-md-2">	
					<a href="/saga/colaboradorTreinamentoHome" style="float: right" class="btn btn-primary btn-xs margin">Voltar</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/colaboradorTreinamentoRelMenu" style="float: right" class="btn btn-primary btn-xs margin">Relatório</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/colaboradorTreinamentoAdd" style="float: right" class="btn btn-primary btn-xs margin">Novo</a>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-default">
			<div class="panel-body">
				<form name="form1" id="form1" action="colaboradorTreinamentoHome"
					th:object="${colaboradorTreinamentoByColaboradorForm}"
					th:action="@{/colaboradorTreinamentoHome}">

					<div class="alert alert-success" th:text="${mensagem}"
						th:if="${not #strings.isEmpty(mensagem)}"></div>

					<div class="alert alert-danger" th:text="${mensagemErro}"
						th:if="${not #strings.isEmpty(mensagemErro)}"></div>

					<input type="hidden" class="form-control" id="colaboradorPK" name="colaboradorPK"> 
					<input type="hidden" class="form-control" id="treinamentoPK" name="treinamentoPK"> 
					<input type="hidden" class="form-control" id="colaboradorTreinamentoPK"	name="colaboradorTreinamentoPK"> 
					<input type="hidden" name="colaboradorTreinamentoSortTipo" th:field="*{colaboradorTreinamentoSortTipo}"	th:value="${colaboradorTreinamentoSortTipo}"> 
					<input type="hidden" name="colaboradorNomeSortAsc" th:value="${colaboradorTreinamentoByColaboradorForm.isColaboradorNomeSortAsc()} ? true : false">
					<input type="hidden" name="treinamentoNomeSortAsc"	th:value="${colaboradorTreinamentoByColaboradorForm.isTreinamentoNomeSortAsc()} ? true : false">
					<input type="hidden" name="sequenciaSortAsc" th:value="${colaboradorTreinamentoByColaboradorForm.isSequenciaSortAsc()} ? true : false">


					<div class="row">
						<div class="form-group col-md-5">	
							<div class="row">
								<div class="input-group add-on"  style="width: 80%">
									<a href="javascript:doColaboradorNomeSortAsc();">&nbsp;&nbsp;&nbsp;Colaborador&nbsp;&nbsp;&nbsp;</a>
								    <div class="input-group-btn" style="width: 80%">
									<input type="text" id="searchColaboradorNome"
										name="searchColaboradorNome"
									th:value="${colaboradorTreinamentoByColaboradorForm.getSearchColaboradorNome() == null} ? '' : ${colaboradorTreinamentoByColaboradorForm.getSearchColaboradorNome()}"
										class="form-control" placeholder="Search"
										onKeyPress="if(window.event.keyCode==13){doColaboradorNomeSortAsc();return false;}return ">
								        <a href="#" class="btn btn-default" role="button" onClick="document.getElementById('form1').submit();"><i class="glyphicon glyphicon-search"></i></a>
								      </div>
							    </div>
						    </div>
						</div>
						<div class="form-group col-md-6">	
							<div class="row">
								<div class="input-group add-on"  style="width: 80%">
									<a href="javascript:doTreinamentoNomeSortAsc();">&nbsp;&nbsp;&nbsp;Treinamento&nbsp;&nbsp;&nbsp;</a>
								    <div class="input-group-btn" style="width: 80%">
									<input type="text" id="searchTreinamentoNome"
										name="searchTreinamentoNome"
										th:value="${colaboradorTreinamentoByColaboradorForm.getSearchTreinamentoNome() == null} ? '' : ${colaboradorTreinamentoByColaboradorForm.getSearchTreinamentoNome()}"
										class="form-control" placeholder="Search"
										onKeyPress="if(window.event.keyCode==13){doTreinamentoNomeSortAsc();return false;}return ">
								        <a href="#" class="btn btn-default" role="button" onClick="document.getElementById('form1').submit();"><i class="glyphicon glyphicon-search"></i></a>
								      </div>
							    </div>
						    </div>
						</div>
						<div class="form-group col-md-1">
							<a>Ações</a>
						</div>
					</div>
					<hr>

					<div  th:each="colaboradorTreinamento : ${colaboradorTreinamentoPage}">
						<div class="form-group col-md-5 breadcrumb">	
							<div class="row" th:text="${colaboradorTreinamento.getColaborador().getPessoaNome()}">
						    </div>
						</div>
						<div class="form-group col-md-6 breadcrumb">
							<div class="row" th:text="${colaboradorTreinamento.getTreinamento().getTreinamentoNome()}">
						    </div>
						</div>
						<div class="form-group col-md-1 breadcrumb">
							<div class="row" >&nbsp;&nbsp;&nbsp;
								<a class="detalhe ml10"
									th:href="@{/colaboradorTreinamentoView/{colaboradorTreinamentoPK}(colaboradorTreinamentoPK=${colaboradorTreinamento.getColaboradorTreinamentoPK()})}"
									title="Detalhes"><i class="glyphicon glyphicon-flag"></i></a> 
									
								<a class="edit ml10"
								th:href="@{/colaboradorTreinamentoEdit/{colaboradorTreinamentoPK}(colaboradorTreinamentoPK=${colaboradorTreinamento.getColaboradorTreinamentoPK()})}"
								title="Edit"><i class="glyphicon glyphicon-edit"></i></a> 

								<a data-toggle="modal"
                   				data-target="#remove"
                   				th:attr="data-target='#remove'+${colaboradorTreinamento.getColaboradorTreinamentoPK() }" 
								class="remove ml10"
								title="Remove"><i class="glyphicon glyphicon-remove"></i>
								</a>
								<div aria-labelledby="myModalLabel" class="modal form-group" id="remove" th:id="remove+${colaboradorTreinamento.colaboradorTreinamentoPK }" role="dialog" tabindex="-1">
								    <div class="modal-dialog" role="document">
								        <div class="modal-content">
								            <div class="modal-header panel-heading">
								                <h4 class="modal-title"><font color="black">Colaborador/Treinamento</font></h4>
								            </div>
								            <div class="modal-body ">
								                <p><font color="black">Tem certeza que deseja remover este relacionamento Colaborador / Treinamento ?</font></p>
								            </div>
								            <div class="modal-footer">
								                <button class="btn btn-alert" data-dismiss="modal" type="button">Cancel</button>
								                <a th:href="@{/colaboradorTreinamentoDelete/{id}(id=${colaboradorTreinamento.colaboradorTreinamentoPK})}"> <button class="btn btn-danger" id="remove-button" type="button">Remove</button></a>
								            </div>
								        </div><!-- end modal-content -->
								    </div><!-- end modal-dialog -->
								</div><!-- end modal -->									
						    </div>
						</div>
					</div>
					<div class="row"></div>
					<hr>
					<div class="row">
						<div th:fragment='paginationbar'>
							<ul>
								<li th:class="${page.first} ? 'disabled':''" style="display: inline">
									<span th:if="${page.first}">
										<button	type="button" class="btn btn-default">
											<span class="glyphicon glyphicon-arrow-left"></span>
										</button>
									</span> 
									<a 	th:if="${not page.first}" th:href="@{${url}(page=0,
													colaboradorTreinamentoSortTipo=${colaboradorTreinamentoByColaboradorForm.colaboradorTreinamentoSortTipo},
													searchColaboradorNome=${colaboradorTreinamentoByColaboradorForm.getSearchColaboradorNome()},
													searchTreinamentoNome=${colaboradorTreinamentoByColaboradorForm.getSearchTreinamentoNome()}
									)}">
										<button type="button" class="btn btn-default glyphicon glyphicon-fast-backward">
										</button>
									</a>
									<a 	th:if="${not page.first}" th:href="@{${url}(page=${page.number}-1,
													colaboradorTreinamentoSortTipo=${colaboradorTreinamentoByColaboradorForm.colaboradorTreinamentoSortTipo},
													searchColaboradorNome=${colaboradorTreinamentoByColaboradorForm.getSearchColaboradorNome()},
													searchTreinamentoNome=${colaboradorTreinamentoByColaboradorForm.getSearchTreinamentoNome()}
									)}">
										<button type="button" class="btn btn-default glyphicon glyphicon-triangle-left">
										</button>
									</a>
								</li>
								<li th:each='i : ${#numbers.sequence(page.number, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : '' " style="display: inline">
									
									<span th:if='${page.number}+20<${page.totalPages-1}'>
										<a th:if='${i}<${page.number}+20'	th:href="@{${url}(page=${i},
													colaboradorTreinamentoSortTipo=${colaboradorTreinamentoByColaboradorForm.colaboradorTreinamentoSortTipo},
													searchColaboradorNome=${colaboradorTreinamentoByColaboradorForm.getSearchColaboradorNome()},
													searchTreinamentoNome=${colaboradorTreinamentoByColaboradorForm.getSearchTreinamentoNome()}
													)}">
											<button type="button" class="btn btn-default">
												<span th:text='${i+1}'></span>
											</button>
										</a>
									</span>
									<span th:if='${page.number}+20>${page.totalPages-1}'>
										<a th:if='${i}<=${page.totalPages-1}'	th:href="@{${url}(page=${i},
													colaboradorTreinamentoSortTipo=${colaboradorTreinamentoByColaboradorForm.colaboradorTreinamentoSortTipo},
													searchColaboradorNome=${colaboradorTreinamentoByColaboradorForm.getSearchColaboradorNome()},
													searchTreinamentoNome=${colaboradorTreinamentoByColaboradorForm.getSearchTreinamentoNome()}
													)}">
											<button type="button" class="btn btn-default">
												<span th:text='${i+1}'></span>
											</button>
										</a>
									</span>
								</li>
								<li th:class="${page.last} ? 'disabled':'' "	style="display: inline">
									<span th:if="${page.last}">
										<button type="button" class="btn btn-default">
											<span class="glyphicon glyphicon-arrow-right"></span>
										</button>
									</span> 
									<a th:if="${not page.last}"	th:href="@{${url}(page=(${page.number}+1),
													colaboradorTreinamentoSortTipo=${colaboradorTreinamentoByColaboradorForm.colaboradorTreinamentoSortTipo},
													searchColaboradorNome=${colaboradorTreinamentoByColaboradorForm.getSearchColaboradorNome()},
													searchTreinamentoNome=${colaboradorTreinamentoByColaboradorForm.getSearchTreinamentoNome()}
									)}">
										<button type="button" class="btn btn-default glyphicon glyphicon-triangle-right">
										</button>
									</a>
									<a th:if="${not page.last}"	th:href="@{${url}(page=(${page.totalPages}-1),
													colaboradorTreinamentoSortTipo=${colaboradorTreinamentoByColaboradorForm.colaboradorTreinamentoSortTipo},
													searchColaboradorNome=${colaboradorTreinamentoByColaboradorForm.getSearchColaboradorNome()},
													searchTreinamentoNome=${colaboradorTreinamentoByColaboradorForm.getSearchTreinamentoNome()}
									)}">
										<button type="button" class="btn btn-default glyphicon glyphicon-fast-forward">
										</button>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
