<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>J4Business</title>

<link href="/saga/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"	rel="stylesheet"></link>
<link href="/saga/css/styles.css" rel="stylesheet"></link>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<style>
.glyphicon:hover {
	color: black;
}

.detalhe {
	color: #A9D9EC;
}

.edit {
	color: orange;
}

.remove {
	color: red;
}

.form-control {
	color: #B7B7B7;
}

.form-control:hover, .form-control:focus {
	color: #ffffff;
	border-color: #A9D9EC;
}

.ui-autocomplete-loading {
	background: white url("images/ui-anim_basic_16x16.gif") right center
		no-repeat;
}
</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Processos</span></a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="@{./menu}"></div>
			</div>
		</form>


	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="/saga/index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Colaborador - Formação</li>
					<li class="active">Edição</li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
			<div class="form-group col-md-2">	
					<a href="/saga/colaboradorFormacaoHome" style="float: right" class="btn btn-primary btn-xs margin">Voltar</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/colaboradorFormacaoRelMenu" style="float: right" class="btn btn-primary btn-xs margin">Relatório</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/colaboradorFormacaoAdd" style="float: right" class="btn btn-primary btn-xs margin">Novo</a>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-default">
			<div class="panel-body">
				<form name="form1" action="colaboradorFormacaoEdit"
					th:object="${colaboradorFormacaoForm}"
					th:action="@{/colaboradorFormacaoSave}" method="POST">

					<div class="alert alert-success" th:text="${mensagem}"
						th:if="${not #strings.isEmpty(mensagem)}"></div>

					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>

					</div>
					<input type="hidden" class="form-control" id="colaboradorFormacaoPK"
						name="colaboradorFormacaoPK" th:field="*{colaboradorFormacaoPK}"
						th:value="${colaboradorFormacaoPK}"> <input type="hidden"
						class="form-control" id="colaboradorPK" name="colaboradorPK"
						th:field="*{colaboradorPK}" th:value="${colaboradorPK}"> <input
						type="hidden" class="form-control" id="FormacaoPK"
						name="FormacaoPK" th:field="*{FormacaoPK}"
						th:value="${FormacaoPK}"> <input type="hidden"
						name="action">

					<div class="row">
						<div class="form-group col-md-8"
							th:classappend="${#fields.hasErrors('colaboradorNome')} ? has-error"
							style="color: white;">
							<label for="colaboradorNome">Colaborador</label> <select
								class="form-control" th:field="*{colaboradorNome}"
								th:remove="all-but-first">
								<option class="form-control" th:each="colaborador : ${colaboradorPage}"
									style="color: black;" th:value="${colaborador.pessoaPK}"
									th:text="${colaborador.pessoaNome}">Colaborador</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8"
							th:classappend="${#fields.hasErrors('FormacaoNome')} ? has-error"
							style="color: white;">
							<label for="FormacaoNome">Formação</label> <select
								class="form-control" th:field="*{FormacaoNome}"
								th:remove="all-but-first">
								<option class="form-control" th:each="Formacao : ${formacaoPage}"
									style="color: black;" th:value="${Formacao.FormacaoPK}"
									th:text="${Formacao.FormacaoNome}">Formação</option>
							</select>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="form-group col-md-3"
							th:classappend="${#fields.hasErrors('colaboradorFormacaoDataInicio')} ? has-error"
							style="color: white;">
							<label for="colaboradorFormacaoDataInicio">Data de Início</label> <input
								type="date" class="form-control" id="colaboradorFormacaoDataInicio"
								th:field="*{colaboradorFormacaoDataInicio}"
								th:value="${colaboradorFormacaoDataInicio}"
								placeholder="Informe a Data de Início da preparacação da Certificação">
						</div>
						<div class="form-group col-md-3"
							th:classappend="${#fields.hasErrors('colaboradorFormacaoDataTermino')} ? has-error"
							style="color: white;">
							<label for="colaboradorFormacaoDataTermino">Data de Término</label> <input
								type="date" class="form-control" id="colaboradorFormacaoDataTermino"
								th:field="*{colaboradorFormacaoDataTermino}"
								th:value="${colaboradorFormacaoDataTermino}"
								placeholder="Informe a Data de Término da preparação da Certificação">
						</div>
						<div class="form-group col-md-3"
							th:classappend="${#fields.hasErrors('colaboradorFormacaoDataValidade')} ? has-error"
							style="color: white;">
							<label for="colaboradorFormacaoDataValidade">Data de Validade</label> <input
								type="date" class="form-control" id="colaboradorFormacaoDataValidade"
								th:field="*{colaboradorFormacaoDataValidade}"
								th:value="${colaboradorFormacaoDataValidade}"
								placeholder="Informe a Data de Validade da Certificação">
						</div>
						<div class="form-group col-md-3"
							th:classappend="${#fields.hasErrors('colaboradorFormacaoCapacitador')} ? has-error"
							style="color: white;">
							<label for="colaboradorFormacaoCapacitador">Capacitador</label> <select
								class="form-control" th:field="*{colaboradorFormacaoCapacitador}"
								th:remove="all-but-first">
								<option class="form-control" th:each="fornecedor : ${fornecedorPage}"
									style="color: black;" th:value="${fornecedor.pessoaPK}"
									th:text="${fornecedor.pessoaNome}">Capacitador</option>
							</select>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="form-group col-md-4"
							th:classappend="${#fields.hasErrors('colaboradorFormacaoMotivoOperacao')} ? has-error"
							style="color: white;">
							<label for="colaboradorFormacaoMotivoOperacao">Motivo da
								Operação</label> <input type="text" class="form-control"
								id="colaboradorFormacaoMotivoOperacao"
								th:field="*{colaboradorFormacaoMotivoOperacao}"
								th:value="${colaboradorFormacaoMotivoOperacao}"
								placeholder="Informe o Motivo da Operação do Colaborador/Formacao">
						</div>
						<div class="form-group col-md-4"
							th:classappend="${#fields.hasErrors('colaboradorFormacaoResponsavel')} ? has-error"
							style="color: white;">
							<label for="colaboradorFormacaoResponsavel">Responsável</label> <select
								class="form-control" th:field="*{colaboradorFormacaoResponsavel}"
								th:remove="all-but-first">
								<option class="form-control"
									th:each="colaborador : ${colaboradorPage}" style="color: black;"
									th:value="${colaborador.pessoaPK}"
									th:text="${colaborador.pessoaNome}">Responsável</option>
							</select>
						</div>
						<div class="form-group col-md-4"
							th:classappend="${#fields.hasErrors('colaboradorFormacaoStatus')} ? has-error"
							style="color: white;">
							<label for="colaboradorFormacaoStatus">Status</label>
							<div>
								<span th:each="ty : ${colaboradorFormacaoStatusValues}"> <input
									type="radio" th:field="*{colaboradorFormacaoStatus}"
									th:value="${ty}" /> <label
									th:for="${#ids.prev('colaboradorFormacaoStatus')}" th:text="${ty}"></label>
									&nbsp;&nbsp;&nbsp;
								</span>
							</div>
						</div>
					</div>
					<!-- campo para teste de autocomplete
							<div>
								<label for="autocomplete">Select a programming language: </label>
								<input  type="text"  id="autocomplete" size="50">							
							</div>
							<hr />
							-->
					<hr />
					<div id="actions" class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-xs">Salvar</button>
							<a href="/saga/colaboradorFormacaoHome" class="btn btn-default btn-xs">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>