<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>J4Business</title>

<link href="/saga/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"	rel="stylesheet"></link>
<link href="/saga/css/styles.css" rel="stylesheet"></link>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<style>
.glyphicon:hover {
	color: black;
}

.detalhe {
	color: #A9D9EC;
}

.edit {
	color: orange;
}

.remove {
	color: red;
}

.form-control {
	color: #B7B7B7;
}

.form-control:hover, .form-control:focus {
	color: #ffffff;
	border-color: #A9D9EC;
}
</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Processos</span></a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="@{./menu}"></div>
			</div>
		</form>


	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="/saga/index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Colaborador - Certificação</li>
					<li class="active">View</li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
			<div class="form-group col-md-2">	
					<a href="/saga/colaboradorCertificacaoHome" style="float: right" class="btn btn-primary btn-xs margin">Voltar</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/colaboradorCertificacaoRelMenu" style="float: right" class="btn btn-primary btn-xs margin">Relatório</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/colaboradorCertificacaoAdd" style="float: right" class="btn btn-primary btn-xs margin">Novo</a>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset>
					<ol class="breadcrumb">
						<li class="active">Colaborador - Certificação</li>
					</ol>
					<div class="panel-body" th:object="${colaboradorCertificacaoForm}">
						<fieldset>
							<div class="col-md-4">
								<label for="colaboradorCertificacaoPK">Id.............................:&nbsp;&nbsp;</label>
								<span id="colaboradorPK" th:text="${colaboradorCertificacaoForm.colaboradorCertificacaoPK}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="colaboradorNome">Colaborador.......:&nbsp;&nbsp;</label> <span
									id="colaboradorNome" th:text="${colaboradorCertificacaoForm.colaboradorNome}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="certificacaoNome">Certificação.................:&nbsp;&nbsp;</label> <span
									id="certificacaoNome"
									th:text="${colaboradorCertificacaoForm.certificacaoNome}"></span>
							</div>
							</fieldset>
							<fieldset>
								<ol class="breadcrumb">
								</ol>
								<br>
								<div class="col-md-4">
									<label for="colaboradorCertificacaoDataInicio">Data Início....:&nbsp;&nbsp;</label> <span
										id="colaboradorCertificacaoDataInicio" th:text="${colaboradorCertificacaoForm.colaboradorCertificacaoDataInicio}"></span>
								</div>
								<div class="col-md-8">
									<label for="colaboradorCertificacaoDataValidade">Data Validade....:&nbsp;&nbsp;</label> <span
										id="colaboradorCertificacaoDataValidade" th:text="${colaboradorCertificacaoForm.colaboradorCertificacaoDataValidade}"></span>
								</div>
								<div class="col-md-4">
									<label for="colaboradorCertificacaoDataTermino">Data Término....:&nbsp;&nbsp;</label> <span
										id="colaboradorCertificacaoDataTermino" th:text="${colaboradorCertificacaoForm.colaboradorCertificacaoDataTermino}"></span>
								</div>
								<div class="col-md-8">
									<label for="colaboradorCertificacaoCapacitador">Capacitador..........:&nbsp;&nbsp;</label> <span
										id="colaboradorCertificacaoCapacitador" th:text="${colaboradorCertificacaoForm.capacitador}"></span>
								</div>
							</fieldset>
							<fieldset>
								<ol class="breadcrumb">
								</ol>
								<br>
							
							<div class="col-md-4">
								<label for="colaboradorCertificacaoMotivoOperacao">Motivo da Operação.:&nbsp;&nbsp;</label> <span
									id="colaboradorCertificacaoMotivoOperacao" th:text="${colaboradorCertificacaoForm.colaboradorCertificacaoMotivoOperacao }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorCertificacaoResponsavel">Responsável..........:&nbsp;&nbsp;</label> <span
									id="colaboradorCertificacaoResponsavel" th:text="${colaboradorCertificacaoForm.colaboradorCertificacaoResponsavel }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorCertificacaoStatus">Status.......................:&nbsp;&nbsp;</label> <span
									id="colaboradorCertificacaoStatus" th:text="${colaboradorCertificacaoForm.colaboradorCertificacaoStatus }"></span>
							</div>
						</fieldset>
					</div>
				</fieldset>
				<fieldset>
					<hr />
					<ol class="breadcrumb">
						<li class="active">Colaborador</li>
					</ol>
					<div class="panel-body" th:object="${colaboradorForm}">
						<fieldset>
							<div class="col-md-4">
								<label for="colaboradorPK">Id.................................:&nbsp;&nbsp;</label>
								<span id="colaboradorPK" th:text="${colaboradorForm.colaboradorPK}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="colaboradorNome">Nome........................:&nbsp;&nbsp;</label> <span
									id="colaboradorNome" th:text="${colaboradorForm.colaboradorNome}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="colaboradorApelido">Nome Fantasia.....:&nbsp;&nbsp;</label> <span
									id="colaboradorApelido" th:text="${colaboradorForm.colaboradorApelido}"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="colaboradorMotivoOperacao">Motivo da Operação....:&nbsp;&nbsp;</label> <span
									id="colaboradorMotivoOperacao" th:text="${colaboradorForm.colaboradorMotivoOperacao }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorResponsavel">Responsável..........:&nbsp;&nbsp;</label> <span
									id="colaboradorResponsavel" th:text="${colaboradorForm.colaboradorResponsavel }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorStatus">Status.......................:&nbsp;&nbsp;</label> <span
									id="colaboradorStatus" th:text="${colaboradorForm.colaboradorStatus }"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-12">
								<label for="enderecoCEP">CEP.............................:&nbsp;&nbsp;</label> <span
									id="enderecoCEP" th:text="${colaboradorForm.enderecoCEP }"></span>
							</div>
							<div class="col-md-4">
								<label for="enderecoLogradouro">Logradouro............:&nbsp;&nbsp;</label> <span
									id="enderecoLogradouro" th:text="${colaboradorForm.enderecoLogradouro}"></span>
							</div>
							<div class="col-md-4">
								<label for="enderecoBairro">Bairro............:&nbsp;&nbsp;</label> <span
									id="enderecoBairro" th:text="${colaboradorForm.enderecoBairro}"></span>
							</div>
							<div class="col-md-4">
								<label for="enderecoMunicipio">Município............:&nbsp;&nbsp;</label> <span
									id="enderecoMunicipio" th:text="${colaboradorForm.enderecoMunicipio}"></span>
							</div>
							<div class="col-md-2">
								<label for="enderecoUF">Estado............:&nbsp;&nbsp;</label> <span
									id="enderecoUF" th:text="${colaboradorForm.enderecoUF}"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="telefoneNumero">Telefone............:&nbsp;&nbsp;</label> <span
									id="telefoneNumero" th:text="${colaboradorForm.telefoneNumero }"></span>
							</div>
							<div class="col-md-4">
								<label for="telefoneOperadora">Operadora............:&nbsp;&nbsp;</label> <span
									id="telefoneOperadora" th:text="${colaboradorForm.telefoneOperadora }"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="colaboradorEmailNome">Email............:&nbsp;&nbsp;</label> <span
									id="colaboradorEmailNome" th:text="${colaboradorForm.emailNome }"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="colaboradorRedeSocialNome">Rede Social....:&nbsp;&nbsp;</label> <span
									id="colaboradorRedeSocialNome" th:text="${colaboradorForm.redeSocialNome }"></span>
							</div>
							<div class="col-md-4">
								<label for="colaboradorRedeSocialIdentificacao">Identificação....:&nbsp;&nbsp;</label> <span
									id="colaboradorRedeSocialIdentificacao" th:text="${colaboradorForm.redeSocialIdentificacao }"></span>
							</div>
						</fieldset>
					</div>
				</fieldset>
				<hr />
				
				<fieldset>
					<ol class="breadcrumb">
						<li class="active">Certificação</li>
					</ol>
					<div class="panel-body" th:object="${certificacaoForm}">
						<fieldset>
							<div class="col-md-4">
								<label for="certificacaoPK">Id.............................:&nbsp;&nbsp;</label>
								<span id="certificacaoPK" th:text="${certificacaoForm.certificacaoPK}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="certificacaoNome">Nome....................:&nbsp;&nbsp;</label> <span
									id="certificacaoNome" th:text="${certificacaoForm.certificacaoNome}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="certificacaoDescricao">Descrição............:&nbsp;&nbsp;</label> <span
									id="certificacaoDescricao" th:text="${certificacaoForm.certificacaoDescricao}"></span>
							</div>
						</fieldset>
		
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="certificacaoMotivoOperacao">Motivo da Operação.:&nbsp;&nbsp;</label> <span
									id="certificacaoMotivoOperacao" th:text="${certificacaoForm.certificacaoMotivoOperacao }"></span>
							</div>
							<div class="col-md-4">
								<label for="certificacaoResponsavel">Responsável.......:&nbsp;&nbsp;</label> <span
									id="certificacaoResponsavel" th:text="${certificacaoForm.certificacaoResponsavel }"></span>
							</div>
							<div class="col-md-4">
								<label for="certificacaoStatus">Status....................:&nbsp;&nbsp;</label> <span
									id="certificacaoStatus" th:text="${certificacaoForm.certificacaoStatus }"></span>
							</div>
						</fieldset>
						<hr />
						
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>