<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Bootstrap to Thymeleaf</title>
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<link th:href="@{/css/styles.css}" rel="stylesheet"></link>
<link th:href="@{/css/menu.css}" rel="stylesheet"></link>
<link th:href="@{/js/menu.js}" rel="stylesheet"></link>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Processos kkkkk</span></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="~{@{./menu}}"></div>
			</div>
		</form>
	</div>
	<!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="/saga/index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Dashboard</li>
					<li class="active"></li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
		</div>
		<!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="breadcrumb"></h1>
			</div>
		</div><!--/.row-->
		
		<div class="row col-no-gutter-container">
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					
					<div class="panel-heading"><em class="glyphicon glyphicon-user glyphicon-l"></em> <a href="/saga/colaboradorHome">Colaborador</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${colaboradorList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-shopping-cart glyphicon-l"></em><a href="/saga/servicoHome">Serviço</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${servicoList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-cog glyphicon-l"></em><a href="/saga/processoHome">Processo</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${processoList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-pencil glyphicon-l"></em><a href="/saga/atividadeHome">Atividade</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${atividadeList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
		</div><!--/.row-->
										
		<div class="row">
			<div class="col-lg-12">
				<h1 class="breadcrumb"></h1>
			</div>
		</div><!--/.row-->
		
		<div class="row col-no-gutter-container">
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					
					<div class="panel-heading"><em class="glyphicon glyphicon-calendar glyphicon-l"></em> <a href="/saga/eventoHome">Evento</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${eventoList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-wrench glyphicon-l"></em><a href="/saga/planejamentoHome">Planejamento</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${planejamentoList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-list-alt glyphicon-l"></em><a href="/saga/contratoHome">Contrato</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${contratoList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-flash glyphicon-l"></em><a href="/saga/ocorrenciaHome">Ocorrência</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${ocorrenciaList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
		</div><!--/.row-->
										
		<div class="row">
			<div class="col-lg-12">
				<h1 class="breadcrumb"></h1>
			</div>
		</div><!--/.row-->
		
		<div class="row col-no-gutter-container">
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					
					<div class="panel-heading"><em class="glyphicon glyphicon-home glyphicon-l"></em><a href="/saga/estruturafisicaHome"> Estrutura Física</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${estruturaFisicaList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-tent glyphicon-l"></em><a href="/saga/unidadeorganizacionalHome">Unidade Organizacional</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${unidadeOrganizacionalList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-modal-window glyphicon-l"></em><a href="/saga/cenarioHome">Cenário</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${cenarioList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3 col-no-gutter">
				<div class="panel panel-default">
					<div class="panel-heading"><em class="glyphicon glyphicon-sunglasses glyphicon-l"></em><a href="/saga/elementoHome">Elemento</a></div>
					<div class="panel-body easypiechart-panel">
						<div class="easypiechart" id="easypiechart-orange"><span class="percent" th:text="${elementoList.size()}">65%</span></div>					
					</div>
				</div>
			</div>
		</div><!--/.row-->
										
										
	</div>	<!--/.main-->

</body>

</html>
