
<ul class="nav menu">
	<li data-toggle="collapse" data-target="#processos"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Processo <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="processos">
			<li><a href="/saga/servicoHome"><span
					class="glyphicon glyphicon-th"></span> Servi&ccedil;o </a>
			</li>
			<li><a href="/saga/processoHome"><span
					class="glyphicon glyphicon-th"></span> Processo </a>
			</li>
			<li><a href="/saga/servicoProcessoHome"><span
					class="glyphicon glyphicon-th"></span> Servi&ccedil;o/Processo </a>
			</li>
			<li><a href="/saga/atividadeHome"><span
					class="glyphicon glyphicon-th"></span> Atividade </a>
			</li>
			<li><a
				href="/saga/processoAtividadeHome"><span
					class="glyphicon glyphicon-th"></span> Processo / Atividade </a>
			</li>
			<li>
				<a href="/saga/avaliacaoProcessoHome">
					<span class="glyphicon glyphicon-th"></span> Processo / Avalia&ccedil;&atilde;o 
				</a>
			</li>
			<li><a
				href="/saga/processoCertificacaoHome"><span
					class="glyphicon glyphicon-th"></span> Processo / Certifica&ccedil;&atilde;o </a>
			</li>
			<li><a
				href="/saga/processoCursoHome"><span
					class="glyphicon glyphicon-th"></span> Processo / Curso </a>
			</li>
			<li><a
				href="/saga/processoFormacaoHome"><span
					class="glyphicon glyphicon-th"></span> Processo / Forma&ccedil;&atilde;o </a>
			</li>
			<li><a
				href="/saga/processoHabilidadeHome"><span
					class="glyphicon glyphicon-th"></span> Processo / Habilidade </a>
			</li>
					
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#empresas"
		class="collapsed "><a href="#"><span
			class="glyphicon glyphicon-list"></span> Empresa <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="empresas">
			<li>
				<a href="/saga/empresaHome">
					<span class="glyphicon glyphicon-th"></span> Empresa 
				</a>
			</li>
			<li>
				<a href="/saga/empresaProcessoHome">
					<span class="glyphicon glyphicon-th"></span> Empresa / Processo 
				</a>
			</li>
		</ul></li>
	<li data-toggle="collapse" data-target="#fornecedors"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Fornecedor <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="fornecedors">
			<li>
				<a href="/saga/fornecedorHome">
					<span class="glyphicon glyphicon-th"></span> Fornecedor 
				</a>
			</li>
			<li>
				<a href="/saga/fornecedorProcessoHome">
					<span class="glyphicon glyphicon-th"></span> Fornecedor / Processo 
				</a>
			</li>
			<li>
				<a href="/saga/fornecedorContratoHome">
					<span class="glyphicon glyphicon-th"></span> Fornecedor / Contrato 
				</a>
			</li>
		</ul></li>
	<li data-toggle="collapse" data-target="#colaboradores"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Colaborador <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="colaboradores">
			<li>
				<a href="/saga/colaboradorHome">
					<span class="glyphicon glyphicon-th"></span> Colaborador 
				</a>
			</li>
			<li>
				<a href="/saga/funcaoHome">
					<span class="glyphicon glyphicon-th"></span> Fun&ccedil;&atilde;o 
				</a>
			</li>
			<li>
				<a href="/saga/colaboradorCertificacaoHome">
					<span class="glyphicon glyphicon-th"></span> Colaborador / Certifica&ccedil;&atilde;o
				</a>
			</li>
			<li>
				<a href="/saga/colaboradorCursoHome">
					<span class="glyphicon glyphicon-th"></span> Colaborador / Curso
				</a>
			</li>
			<li>
				<a href="/saga/colaboradorFormacaoHome">
					<span class="glyphicon glyphicon-th"></span> Colaborador / Forma&ccedil;&atilde;o
				</a>
			</li>
			<li>
				<a href="/saga/colaboradorFuncaoHome">
					<span class="glyphicon glyphicon-th"></span> Colaborador / Fun&ccedil;&atilde;o
				</a>
			</li>
			<li>
				<a href="/saga/colaboradorHabilidadeHome">
					<span class="glyphicon glyphicon-th"></span> Colaborador / Habilidade
				</a>
			</li>
			<li>
				<a href="/saga/colaboradorProcessoHome">
					<span class="glyphicon glyphicon-th"></span> Colaborador / Processo
				</a>
			</li>
			<li>
				<a href="/saga/colaboradorTreinamentoHome">
					<span class="glyphicon glyphicon-th"></span> Colaborador / Treinamento
				</a>
			</li>
		</ul></li>
	<li data-toggle="collapse" data-target="#eventos"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Evento <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="eventos">
			<li>
				<a href="/saga/eventoHome">
					<span class="glyphicon glyphicon-th"></span> Evento 
				</a>
			</li>
			<li>
				<a href="/saga/agendaEventoHome">
					<span class="glyphicon glyphicon-th"></span> Evento / Agenda 
				</a>
			</li>
			<li>
				<a href="/saga/eventoProcessoHome">
					<span class="glyphicon glyphicon-th"></span> Evento / Processo 
				</a>
			</li>
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#agendas"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Agenda <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="agendas">
			<li>
				<a href="/saga/agendaHome">
					<span class="glyphicon glyphicon-th"></span> Agenda 
				</a>
			</li>
			<li>
				<a href="/saga/agendaContratoHome">
					<span class="glyphicon glyphicon-th"></span> Agenda / Contrato 
				</a>
			</li>
			<li>
				<a href="/saga/agendaEventoHome">
					<span class="glyphicon glyphicon-th"></span> Agenda / Evento 
				</a>
			</li>
			<li>
				<a href="/saga/agendaPlanejamentoHome">
					<span class="glyphicon glyphicon-th"></span> Agenda / Planejamento 
				</a>
			</li>
			<li>
				<a href="/saga/agendaTreinamentoHome">
					<span class="glyphicon glyphicon-th"></span> Agenda / Treinamento 
				</a>
			</li>
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#planejamentos"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Planejamento <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="planejamentos">
			<li>
				<a href="/saga/planejamentoHome">
					<span class="glyphicon glyphicon-th"></span> Planejamento 
				</a>
			</li>
			<li>
				<a href="/saga/acaoHome">
					<span class="glyphicon glyphicon-th"></span> A&ccedil;&atilde;o 
				</a>
			</li>
			<li>
				<a href="/saga/planejamentoAcaoHome">
					<span class="glyphicon glyphicon-th"></span> Planejamento / A&ccedil;&atilde;o 
				</a>
			</li>
			<li>
				<a href="/saga/planejamentoProcessoHome">
					<span class="glyphicon glyphicon-th"></span> Planejamento / Processo 
				</a>
			</li>
		</ul>
	</li>
<!-- 	<li data-toggle="collapse" data-target="#enderecos"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Endere&ccedil;o <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="enderecos">
			<li>
				<a href="/saga/paisHome">
					<span class="glyphicon glyphicon-th"></span> Pa&iacute;s 
				</a>
			</li>
			<li>
				<a href="/saga/estadoHome">
					<span class="glyphicon glyphicon-th"></span> Estado 
				</a>
			</li>
			<li>
				<a href="/saga/municipioHome">
					<span class="glyphicon glyphicon-th"></span> Munic&iacute;pio 
				</a>
			</li>
			<li>
				<a href="/saga/bairroHome">
					<span class="glyphicon glyphicon-th"></span> Bairro 
				</a>
			</li>
			<li>
				<a href="/saga/logradouroHome">
					<span class="glyphicon glyphicon-th"></span> Logradouro 
				</a>
			</li>
			<li>
				<a href="/saga/logradouroTipoHome">
					<span class="glyphicon glyphicon-th"></span> Tipo de Logradouro 
				</a>
			</li>
		</ul>
	</li>
 -->	<li data-toggle="collapse" data-target="#questionario"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Avalia&ccedil;&atilde;o<span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="questionario">
			<li>
				<a href="/saga/questionarioHome">
					<span class="glyphicon glyphicon-th"></span> Question&aacute;rio 
				</a>
			</li>
			<li>
				<a href="/saga/questaoHome">
					<span class="glyphicon glyphicon-th"></span> Quest&atilde;o 
				</a>
			</li>
			<li>
				<a href="/saga/questionarioQuestaoHome">
					<span class="glyphicon glyphicon-th"></span> Question&aacute;rio / Quest&atilde;o 
				</a>
			</li>
			<li>
				<a href="/saga/avaliacaoHome">
					<span class="glyphicon glyphicon-th"></span> Avalia&ccedil;&atilde;o 
				</a>
			</li>
			<li>
				<a href="/saga/avaliacaoProcessoHome">
					<span class="glyphicon glyphicon-th"></span> Avalia&ccedil;&atilde;o / Processo 
				</a>
			</li>
			<li>
				<a href="/saga/avaliacaoContratoHome">
					<span class="glyphicon glyphicon-th"></span> Avalia&ccedil;&atilde;o / Contrato 
				</a>
			</li>
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#cenario"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Cen&aacute;rio<span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="cenario">
			<li>
				<a href="/saga/cenarioHome">
					<span class="glyphicon glyphicon-th"></span> Cen&aacute;rio 
				</a>
			</li>
			<li>
				<a href="/saga/elementoHome">
					<span class="glyphicon glyphicon-th"></span> Elemento 
				</a>
			</li>
			<li>
				<a href="/saga/cenarioElementoHome">
					<span class="glyphicon glyphicon-th"></span> Cen&aacute;rio / Elemento 
				</a>
			</li>
			<li>
				<a href="/saga/elementoQuestaoHome">
					<span class="glyphicon glyphicon-th"></span> Elemento / Quest&atilde;o 
				</a>
			</li>
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#estruturafisica"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Estrutura F&iacute;sica<span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="estruturafisica">
			<li>
				<a href="/saga/estruturafisicaHome">
					<span class="glyphicon glyphicon-th"></span> Estrutura F&iacute;sica 
				</a>
			</li>
			<li>
				<a href="/saga/unidadeorganizacionalHome">
					<span class="glyphicon glyphicon-th"></span> Unidade Organizacional 
				</a>
			</li>
			<li>
				<a href="/saga/estruturafisicaUnidadeorganizacionalHome">
					<span class="glyphicon glyphicon-th"></span> Estr. F&iacute;sica / Unidade Org 
				</a>
			</li>
			<li>
				<a href="/saga/unidadeorganizacionalProcessoHome">
					<span class="glyphicon glyphicon-th"></span> Unidade Org / Processo 
				</a>
			</li>
			<li>
				<a href="/saga/unidadeorganizacionalContratoHome">
					<span class="glyphicon glyphicon-th"></span> Unidade Org / Contrato 
				</a>
			</li>
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#contratos"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Contrato <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="contratos">
			<li>
				<a href="/saga/contratoHome">
					<span class="glyphicon glyphicon-th"></span> Contrato 
				</a>
			</li>
			<li>
				<a href="/saga/avaliacaoContratoHome">
					<span class="glyphicon glyphicon-th"></span> Contrato / Avalia&ccedil;&atilde;o 
				</a>
			</li>
			<li>
				<a href="/saga/contratoImagemHome">
					<span class="glyphicon glyphicon-th"></span> Contrato / Imagem
				</a>
			</li>
			<li>
				<a href="/saga/contratoTextoHome">
					<span class="glyphicon glyphicon-th"></span> Contrato / Texto
				</a>
			</li>
			<li>
				<a href="/saga/contratoVideoHome">
					<span class="glyphicon glyphicon-th"></span> Contrato / V&iacute;deo
				</a>
			</li>
			
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#capacitacao"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Capacita&ccedil;&atilde;o <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="capacitacao">
			<li>
				<a href="/saga/certificacaoHome">
					<span class="glyphicon glyphicon-th"></span> Certifica&ccedil;&atilde;o
				</a>
			</li>
			<li>
				<a href="/saga/cursoHome">
					<span class="glyphicon glyphicon-th"></span> Curso 
				</a>
			</li>
			<li>
				<a href="/saga/formacaoHome">
					<span class="glyphicon glyphicon-th"></span> Forma&ccedil;&atilde;o
				</a>
			</li>
			<li>
				<a href="/saga/habilidadeHome">
					<span class="glyphicon glyphicon-th"></span> Habilidade 
				</a>
			</li>
			<li>
				<a href="/saga/treinamentoHome">
					<span class="glyphicon glyphicon-th"></span> Treinamento 
				</a>
			</li>
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#ocorrencia"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Ocorr&ecirc;ncia <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="ocorrencia">
			<li>
				<a href="/saga/ocorrenciaHome">
					<span class="glyphicon glyphicon-th"></span> Ocorr&ecirc;ncia
				</a>
			</li>
			<li>
				<a href="/saga/atendimentoHome">
					<span class="glyphicon glyphicon-th"></span> Atendimento
				</a>
			</li>
			<li>
				<a href="/saga/ocorrenciaAtendimentoHome">
					<span class="glyphicon glyphicon-th"></span> Ocorr&ecirc;ncia / Atendimento
				</a>
			</li>
		</ul>
	</li>
<!-- 	<li data-toggle="collapse" data-target="#usuario"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Usuario <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="usuario">
			<li>
				<a href="/saga/usuarioHome">
					<span class="glyphicon glyphicon-th"></span> Usuario
				</a>
			</li>
			<li>
				<a href="/saga/perfilHome">
					<span class="glyphicon glyphicon-th"></span> Perfil
				</a>
			</li>
			<li>
				<a href="/saga/usuarioPerfilHome">
					<span class="glyphicon glyphicon-th"></span> Usuario / Perfil
				</a>
			</li>
		</ul>
	</li>
 -->	<li data-toggle="collapse" data-target="#email"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Email <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="email">
			<li>
				<a href="/saga/email">
					<span class="glyphicon glyphicon-th"></span> Email
				</a>
			</li>
		</ul>
	</li>
	<li data-toggle="collapse" data-target="#multimidia"
		class="collapsed"><a href="#"><span
			class="glyphicon glyphicon-list"></span> Multim&iacute;dia <span
			data-toggle="collapse" class="icon pull-right"><em
				class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
		<ul class="sub-menu collapse" id="multimidia">
			<li>
				<a href="/saga/imagemHome">
					<span class="glyphicon glyphicon-th"></span> Imagem
				</a>
			</li>
			<li>
				<a href="/saga/textoHome">
					<span class="glyphicon glyphicon-th"></span> Texto
				</a>
			</li>
			<li>
				<a href="/saga/videoHome">
					<span class="glyphicon glyphicon-th"></span> V&iacute;deo
				</a>
			</li>
			<li>
				<a href="/saga/contratoImagemHome">
					<span class="glyphicon glyphicon-th"></span> Contrato / Imagem
				</a>
			</li>
			<li>
				<a href="/saga/contratoTextoHome">
					<span class="glyphicon glyphicon-th"></span> Contrato / Texto
				</a>
			</li>
			<li>
				<a href="/saga/contratoVideoHome">
					<span class="glyphicon glyphicon-th"></span> Contrato / V&iacute;deo
				</a>
			</li>
			<li>
				<a href="/saga/processoImagemHome">
					<span class="glyphicon glyphicon-th"></span> Processo / Imagem
				</a>
			</li>
			<li>
				<a href="/saga/processoTextoHome">
					<span class="glyphicon glyphicon-th"></span> Processo / Texto
				</a>
			</li>
			<li>
				<a href="/saga/processoVideoHome">
					<span class="glyphicon glyphicon-th"></span> Processo / V&iacute;deo
				</a>
			</li>
			<li>
				<a href="/saga/treinamentoImagemHome">
					<span class="glyphicon glyphicon-th"></span> Treinamento / Imagem
				</a>
			</li>
			<li>
				<a href="/saga/treinamentoTextoHome">
					<span class="glyphicon glyphicon-th"></span> Treinamento / Texto
				</a>
			</li>
			<li>
				<a href="/saga/treinamentoVideoHome">
					<span class="glyphicon glyphicon-th"></span> Treinamento / V&iacute;deo
				</a>
			</li>
		</ul>
	</li>
	<li role="presentation" class="divider"></li>
	<li><a href="/saga/login"> <i class="glyphicon glyphicon-user"></i>
			Logout
	</a></li>

</ul>
