<div class="dropdown">
	<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false">
		Dropdown link
	</a>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<a class="dropdown-item dropdown-toggle" data-toggle="collapse" href="#collapse" aria-expanded="false"
			aria-controls="collapse" title="Description">Description
		</a>
		<div class="collapse" id="collapse">
			<a class="dropdown-item" href="" title="Description">Description</a>
			<a class="dropdown-item" href="" title="Description">Description</a>
			<a class="dropdown-item" href="" title="Description">Description</a>
			<a class="dropdown-item" href="" title="Description">Description</a>
		</div>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
	</div>
</div>