<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>J4Business</title>

<link href="/saga/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"	rel="stylesheet"></link>
<link href="/saga/css/styles.css" rel="stylesheet"></link>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<script>
function doProcessoNomeSortAsc() {
	document.form1.processoSortTipo.value = "ProcessoNome";
	document.form1.action.value="/processoHome";
	document.form1.submit();
}

function doProcessoDescricaoSortAsc() {
	document.form1.processoSortTipo.value = 'ProcessoDescricao';
	document.form1.action.value="/processoHome";
	document.form1.submit();
}


</script>

<style>
.glyphicon:hover {
	color: black;
}

.detalhe {
	color: #A9D9EC;
}

.edit {
	color: orange;
}

.remove {
	color: red;
}

.form-control {
	color: #B7B7B7;
}

.form-control:hover, .form-control:focus {
	color: #ffffff;
	border-color: #A9D9EC;
}

.modal-body
{
    background-color: #FFFFFF;
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #FCFAB3;
}

.modal-footer
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Processos</span></a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="@{./menu}"></div>
			</div>
		</form>


	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="/saga/index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Processo</li>
					<li class="active">Consulta</li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
			<div class="form-group col-md-2">	
					<a href="/saga/processoHome" style="float: right" class="btn btn-primary btn-xs margin">Voltar</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/processoRelMenu" style="float: right" class="btn btn-primary btn-xs margin">Relatório</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/processoAdd" style="float: right" class="btn btn-primary btn-xs margin">Novo</a>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-default">
			<div class="panel-body">
				<form name="form1" id="form1" action="processoHome"
					th:object="${processoByProcessoForm}"
					th:action="@{/processoHome}">

					<div class="alert alert-success" th:text="${mensagem}"
						th:if="${not #strings.isEmpty(mensagem)}"></div>

					<div class="alert alert-danger" th:text="${mensagemErro}"
						th:if="${not #strings.isEmpty(mensagemErro)}"></div>

					<input type="hidden" class="form-control" id="processoPK"
						name="processoPK"> <input type="hidden"
						name="processoSortTipo" th:field="*{processoSortTipo}"
						th:value="${processoSortTipo}">

					<div class="row">
						<div class="form-group col-md-5">	
							<div class="row">
								<div class="input-group add-on"  style="width: 80%">
									<a href="javascript:doProcessoNomeSortAsc();">Processo</a>
								    <div class="input-group-btn" style="width: 80%">
									<input type="text" id="searchProcessoNome"
										name="searchProcessoNome"
										th:value="${processoByProcessoForm.getSearchProcessoNome() == null} ? '' : ${processoByProcessoForm.getSearchProcessoNome()}"
										class="form-control" placeholder="Search"
										onKeyPress="if(window.event.keyCode==13){doProcessoNomeSortAsc();return false;}return ">
								        <a href="#" class="btn btn-default" role="button" onClick="document.getElementById('form1').submit();"><i class="glyphicon glyphicon-search"></i></a>
								      </div>
							    </div>
						    </div>
						</div>
						<div class="form-group col-md-6">	
							<div class="row">
								<div class="input-group add-on"  style="width: 80%">
									<a href="javascript:doProcessoDescricaoSortAsc();">Descrição</a>
							      	<div class="input-group-btn" style="width: 75%">
									<input type="text" id="searchProcessoDescricao"
										name="searchProcessoDescricao"
										th:value="${processoByProcessoForm.getSearchProcessoDescricao() == null} ? '' : ${processoByProcessoForm.getSearchProcessoDescricao()}"
										class="form-control" placeholder="Search"
										onKeyPress="if(window.event.keyCode==13){doProcessoDescricaoSortAsc();return false;}return ">
								        <a href="#" class="btn btn-default" role="button" onClick="document.getElementById('form1').submit();"><i class="glyphicon glyphicon-search"></i></a>
								      </div>
							    </div>
						    </div>
						</div>
						<div class="form-group col-md-1">
							<a>Ações</a>
						</div>
					</div>
					<hr>

					<div class="row breadcrumb" th:each="processo : ${processoPage}">
					
						<div class="form-group col-md-5 ">	
							<div class="row" th:text="${processo.processoNome}">
						    </div>
						</div>
						<div class="form-group col-md-6">
							<div class="row" th:text="${processo.processoDescricao}">
						    </div>
						</div>
						<div class="form-group col-md-1">
							<div class="row" >
								<a class="detalhe ml10"
									th:href="@{/processoView/{id}(id=${processo.processoPK})}"
									title="Detalhes"><i class="glyphicon glyphicon-flag"></i></a> 
									
								<a class="edit ml10"
								th:href="@{/processoEdit/{id}(id=${processo.processoPK})}"
								title="Edit"><i class="glyphicon glyphicon-edit"></i></a> 

								<a data-toggle="modal"
                   				data-target="#remove"
                   				th:attr="data-target='#remove'+${processo.processoPK }" 
								class="remove ml10"
								title="Remove"><i class="glyphicon glyphicon-remove"></i>
								</a>
								<div aria-labelledby="myModalLabel" class="modal form-group" id="remove" th:id="remove+${processo.processoPK }" role="dialog" tabindex="-1">
								    <div class="modal-dialog" role="document">
								        <div class="modal-content">
								            <div class="modal-header panel-heading">
								                <h4 class="modal-title"><font color="black">Processo</font></h4>
								            </div>
								            <div class="modal-body ">
								                <p><font color="black">Tem certeza que deseja remover este Processo ?</font></p>
								            </div>
								            <div class="modal-footer">
								                <button class="btn btn-alert" data-dismiss="modal" type="button">Cancel</button>
								                <a th:href="@{/processoDelete/{id}(id=${processo.processoPK})}">  > <button class="btn btn-danger" id="remove-button" type="button">Remove</button></a>
								            </div>
								        </div><!-- end modal-content -->
								    </div><!-- end modal-dialog -->
								</div><!-- end modal -->									
						    </div>
						</div>
					</div>
					<div class="row">
						<div th:fragment='paginationbar'>
							<ul>
								<li th:class="${page.first} ? 'disabled':''" style="display: inline">
									<span th:if="${page.first}">
										<button	type="button" class="btn btn-default">
											<span class="glyphicon glyphicon-arrow-left"></span>
										</button>
									</span> 
									<a 	th:if="${not page.first}" th:href="@{${url}(page=0,
													processoSortTipo=${processoByProcessoForm.processoSortTipo},
													searchProcessoNome=${processoByProcessoForm.getSearchProcessoNome()},
													searchProcessoDescricao=${processoByProcessoForm.getSearchProcessoDescricao()}
									)}">
										<button type="button" class="btn btn-default glyphicon glyphicon-fast-backward">
										</button>
									</a>
									<a 	th:if="${not page.first}" th:href="@{${url}(page=${page.number}-1,
													processoSortTipo=${processoByProcessoForm.processoSortTipo},
													searchProcessoNome=${processoByProcessoForm.getSearchProcessoNome()},
													searchProcessoDescricao=${processoByProcessoForm.getSearchProcessoDescricao()}
									)}">
										<button type="button" class="btn btn-default glyphicon glyphicon-triangle-left">
										</button>
									</a>
								</li>
								<li th:each='i : ${#numbers.sequence(page.number, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : '' " style="display: inline">
									
									<span th:if='${page.number}+20<${page.totalPages-1}'>
										<a th:if='${i}<${page.number}+20'	th:href="@{${url}(page=${i},
													processoSortTipo=${processoByProcessoForm.processoSortTipo},
													searchProcessoNome=${processoByProcessoForm.getSearchProcessoNome()},
													searchProcessoDescricao=${processoByProcessoForm.getSearchProcessoDescricao()}
													)}">
											<button type="button" class="btn btn-default">
												<span th:text='${i+1}'></span>
											</button>
										</a>
									</span>
									<span th:if='${page.number}+20>${page.totalPages-1}'>
										<a th:if='${i}<=${page.totalPages-1}'	th:href="@{${url}(page=${i},
													processoSortTipo=${processoByProcessoForm.processoSortTipo},
													searchProcessoNome=${processoByProcessoForm.getSearchProcessoNome()},
													searchProcessoDescricao=${processoByProcessoForm.getSearchProcessoDescricao()}
													)}">
											<button type="button" class="btn btn-default">
												<span th:text='${i+1}'></span>
											</button>
										</a>
									</span>
								</li>
								<li th:class="${page.last} ? 'disabled':'' "	style="display: inline">
									<span th:if="${page.last}">
										<button type="button" class="btn btn-default">
											<span class="glyphicon glyphicon-arrow-right"></span>
										</button>
									</span> 
									<a th:if="${not page.last}"	th:href="@{${url}(page=(${page.number}+1),
													processoSortTipo=${processoByProcessoForm.processoSortTipo},
													searchProcessoNome=${processoByProcessoForm.getSearchProcessoNome()},
													searchProcessoDescricao=${processoByProcessoForm.getSearchProcessoDescricao()}
									)}">
										<button type="button" class="btn btn-default glyphicon glyphicon-triangle-right">
										</button>
									</a>
									<a th:if="${not page.last}"	th:href="@{${url}(page=(${page.totalPages}-1),
													processoSortTipo=${processoByProcessoForm.processoSortTipo},
													searchProcessoNome=${processoByProcessoForm.getSearchProcessoNome()},
													searchProcessoDescricao=${processoByProcessoForm.getSearchProcessoDescricao()}
									)}">
										<button type="button" class="btn btn-default glyphicon glyphicon-fast-forward">
										</button>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
