<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>J4Business</title>

<link href="/saga/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"	rel="stylesheet"></link>
<link href="/saga/css/styles.css" rel="stylesheet"></link>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

<style>
.glyphicon:hover {
	color: black;
}

.detalhe {
	color: #A9D9EC;
}

.edit {
	color: orange;
}

.remove {
	color: red;
}

.form-control {
	color: #B7B7B7;
}

.form-control:hover, .form-control:focus {
	color: #ffffff;
	border-color: #A9D9EC;
}

.ui-autocomplete-loading {
	background: white url("images/ui-anim_basic_16x16.gif") right center
		no-repeat;
}
</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Treinamentos</span></a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="@{./menu}"></div>
			</div>
		</form>


	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="/saga/index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Treinamento - Vídeo</li>
					<li class="active">Edição</li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
			<div class="form-group col-md-2">	
					<a href="/saga/treinamentoTextoHome" style="float: right" class="btn btn-primary btn-xs margin">Voltar</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/treinamentoTextoRelMenu" style="float: right" class="btn btn-primary btn-xs margin">Relatório</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/treinamentoTextoAdd" style="float: right" class="btn btn-primary btn-xs margin">Novo</a>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-default">
			<div class="panel-body">
				<form name="form1" action="treinamentoTextoEdit"
					th:object="${treinamentoTextoForm}"
					th:action="@{/treinamentoTextoSave}" method="POST">

					<div class="alert alert-success" th:text="${mensagem}"
						th:if="${not #strings.isEmpty(mensagem)}"></div>

					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>

					</div>
					<input type="hidden" class="form-control" id="treinamentoTextoPK" name="treinamentoTextoPK" th:field="*{treinamentoTextoPK}" th:value="${treinamentoTextoPK}"> 
					<input type="hidden" class="form-control" id="treinamentoPK" name="treinamentoPK" th:field="*{treinamentoPK}" th:value="${treinamentoPK}"> 
					<input type="hidden" class="form-control" id="textoPK" name="textoPK" th:field="*{textoPK}"	th:value="${textoPK}"> 
					<input type="hidden" name="action">

					<div class="row">
						<div class="form-group col-md-8"
							th:classappend="${#fields.hasErrors('treinamentoNome')} ? has-error"
							style="color: white;">
							<label for="treinamentoNome">Treinamento</label> <select
								class="form-control" th:field="*{treinamentoNome}"
								th:remove="all-but-first">
								<option class="form-control" th:each="treinamento : ${treinamentoPage}"
									style="color: black;" th:value="${treinamento.treinamentoPK}"
									th:text="${treinamento.treinamentoNome}">Treinamento</option>
							</select>
						</div>
						<div class="form-group col-md-8"
							th:classappend="${#fields.hasErrors('textoNome')} ? has-error"
							style="color: white;">
							<label for="textoNome">Texto</label> <select
								class="form-control" th:field="*{textoNome}"
								th:remove="all-but-first">
								<option class="form-control" th:each="texto : ${textoPage}"
									style="color: black;" th:value="${texto.textoPK}"
									th:text="${texto.textoNome}">Texto</option>
							</select>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="form-group col-md-4"
							th:classappend="${#fields.hasErrors('treinamentoTextoMotivoOperacao')} ? has-error"
							style="color: white;">
							<label for="treinamentoTextoMotivoOperacao">Motivo da
								Operação</label> <input type="text" class="form-control"
								id="treinamentoTextoMotivoOperacao"
								th:field="*{treinamentoTextoMotivoOperacao}"
								th:value="${treinamentoTextoMotivoOperacao}"
								placeholder="Informe o Motivo da Operação do Treinamento/Texto">
						</div>
						<div class="form-group col-md-4"
							th:classappend="${#fields.hasErrors('treinamentoTextoResponsavel')} ? has-error"
							style="color: white;">
							<label for="treinamentoTextoResponsavel">Responsável</label> <select
								class="form-control" th:field="*{treinamentoTextoResponsavel}"
								th:remove="all-but-first">
								<option class="form-control"
									th:each="colaborador : ${colaboradorPage}" style="color: black;"
									th:value="${colaborador.pessoaPK}"
									th:text="${colaborador.pessoaNome}">Responsável</option>
							</select>
						</div>
						<div class="form-group col-md-4"
							th:classappend="${#fields.hasErrors('treinamentoTextoStatus')} ? has-error"
							style="color: white;">
							<label for="treinamentoTextoStatus">Status</label>
							<div>
								<span th:each="ty : ${treinamentoTextoStatusValues}"> <input
									type="radio" th:field="*{treinamentoTextoStatus}"
									th:value="${ty}" /> <label
									th:for="${#ids.prev('treinamentoTextoStatus')}" th:text="${ty}"></label>
									&nbsp;&nbsp;&nbsp;
								</span>
							</div>
						</div>
					</div>
					<!-- campo para teste de autocomplete
							<div>
								<label for="autocomplete">Select a programming language: </label>
								<input  type="text"  id="autocomplete" size="50">							
							</div>
							<hr />
							-->
					<hr />
					<div id="actions" class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-xs">Salvar</button>
							<a href="/saga/treinamentoTextoHome" class="btn btn-default btn-xs">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>