<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>J4Business</title>

<link href="/saga/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"	rel="stylesheet"></link>
<link href="/saga/css/styles.css" rel="stylesheet"></link>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'  rel='stylesheet' type='text/css'></link>
<script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	
<style>
.glyphicon:hover {
	color: black;
}

.imagem {
	color: #A9D9EC;
}

.edit {
	color: orange;
}

.remove {
	color: red;
}

.form-control {
	color: #B7B7B7;
}

.form-control:hover, .form-control:focus {
	color: #ffffff;
	border-color: #A9D9EC;
}
</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Gestão e Aperfeiçoamento de Processos</span></a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<div th:replace="@{./menu}"></div>
			</div>
		</form>


	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="form-group col-md-7">	
				<ol class="breadcrumb">
					<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="active">Imagem</li>
					<li class="active">View</li>
				</ol>
			</div>
				<div class="form-group col-md-3">	
					<ol class="breadcrumb">
						<li class="active">Usuário: </li>
						<li th:text="${usuarioNome}"></li>
						<li th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></li>  
					</ol>
				</div>
			<div class="form-group col-md-2">	
					<a href="/saga/imagemHome" style="float: right" class="btn btn-primary btn-xs margin">Voltar</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/imagemRelMenu" style="float: right" class="btn btn-primary btn-xs margin">Relatório</a>
					<p style="float: right">&nbsp;&nbsp;&nbsp;</p>
					<a href="/saga/imagemAdd" style="float: right" class="btn btn-primary btn-xs margin">Novo</a>
			</div>
		</div>
		<!--/.row-->

		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset>
					<ol class="breadcrumb">
						<li class="active">Imagem</li>
					</ol>
					<div class="panel-body" th:object="${imagemForm}">
						<fieldset>
							<div class="col-md-4">
								<label for="imagemPK">Id.............................:&nbsp;&nbsp;</label>
								<span id="imagemPK" th:text="${imagemForm.imagemPK}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="imagemNome">Nome....................:&nbsp;&nbsp;</label> <span
									id="imagemNome" th:text="${imagemForm.imagemNome}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="imagemDescricao">Descrição............:&nbsp;&nbsp;</label> <span
									id="imagemDescricao" th:text="${imagemForm.imagemDescricao}"></span>
							</div>
			
							<div class="col-md-12">
								<label for="imagemURL">URL...................:&nbsp;&nbsp;</label> <span
									id="imagemURL" th:text="${imagemForm.imagemURL}"></span>
							</div>
						</fieldset>
						<fieldset>
							<ol class="breadcrumb">
							</ol>
							<br>
							<div class="col-md-4">
								<label for="imagemMotivoOperacao">Motivo da Operação.:&nbsp;&nbsp;</label> 
								<span id="imagemMotivoOperacao" th:text="${imagemForm.imagemMotivoOperacao }"></span>
							</div>
							<div class="col-md-4">
								<label for="imagemResponsavel">Responsável.......:&nbsp;&nbsp;</label>
								<span id="imagemResponsavel"
									th:text="${imagemForm.imagemResponsavel }"></span>
							</div>
							<div class="col-md-4">
								<label for="imagemStatus">Status....................:&nbsp;&nbsp;</label>
								<span id="imagemStatus" th:text="${imagemForm.imagemStatus }"></span>
							</div>
						</fieldset>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>